*.in
*.o
*.patch
*.tar.gz
*~
/AndroidAppSettings.cfg-freedroid
/AndroidData
/aclocal.m4
/autom4te.cache/
/compile
/config.guess
/config.sub
/configure
/depcomp
/droids.jpg
/droids.xcf
/install-sh
/missing
/myconfig.sh
/title-1024x500.png
/title-1024x500.xcf
Makefile
Screenshot_*.png
Screenshot_*.xcf
TAGS
config.h
config.log
config.status
icon*.png
icon*.xcf
src/.deps/
src/freedroid
stamp-h1
