
----------------------------------------------------------------------

This is a data file for Freedroid.
It contains the specification of all droids appearing in freedroid.
This file is, as all of Freedroid, put under the GPL License:

 *
 *   Copyright (c) 1994, 2002 Johannes Prix
 *   Copyright (c) 1994, 2002 Reinhard Prix
 *
 *
 *  This file is part of Freedroid
 *
 *  Freedroid is free software; you can redistribute it and/or modify
 *  it under the terms of the GNU General Public License as published by
 *  the Free Software Foundation; either version 2 of the License, or
 *  (at your option) any later version.
 *
 *  Freedroid is distributed in the hope that it will be useful,
 *  but WITHOUT ANY WARRANTY; without even the implied warranty of
 *  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *  GNU General Public License for more details.
 *
 *  You should have received a copy of the GNU General Public License
 *  along with Freedroid; see the file COPYING. If not, write to the 
 *  Free Software Foundation, Inc., 59 Temple Place, Suite 330, Boston, 
 *  MA  02111-1307  USA
 *

Feel free to make any modifications you like.  If you set up 
something cool, please send your file in to the Freedroid project.

You can edit it with a standard text editor of your choice.
Feel free to make any modifications you like.
Freedroid will still accept you modified game dada file as long
as you stick to the following rules:
1.) the text indicating the Start of the Robot Data Section must not
    be removed or changed.  It is needed by Freedroid in order to find
    the robot section in your modified file.
2.) the text indicating the end of the data file must not be removed.
    It is needed by Freedroid to ensure the integrity of this data file.
3.) Every new robot must begin with the typical "Start of new Robot"
    string AND the asterisks as you see in the existing robots.
    Best copy an existing robots data to a new location at the end
    of the robot data section and modify the values to your liking. 

YOU CAN INSERT EXTRA LINES WITH EXTRA TEXT anywhere you like in this file.
That will not cause any problems.  

----------------------------------------------------------------------

*** Start of General Game Constants Section: ***

Energy-Loss-factor for Collisions of Influ with hostile robots=1.0

Radius of explosions (as far as damage is concerned) in multiples of tiles=0.3
A**mount of damage done by contact to a blast per second of time=15.0
Amount of damage done by contact to a blast per second of time=2.0

'Radius' of droids in x direction=0.25
'Radius' of droids in y direction=0.25

Conveyor belt speed (in squares per second )=7

Time for the doors to move by one subphase of their movement=0.05

*** End of General Game Constants Section: ***

----------------------------------------------------------------------

*** End of this Freedroid data File ***



